/**
 * Font
 */

@font-face {
    font-family: sf-pro-display-regular;
    src: url("./assets/font/sf-pro-display/sf-pro-display-regular.otf");
    font-display: swap;
}

@font-face {
    font-family: sf-pro-display-bold;
    src: url("./assets/font/sf-pro-display/sf-pro-display-bold.otf");
    font-display: swap;
}

@font-face {
    font-family: thunder-bold;
    src: url("./assets/font/thunder/thunder-bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: sofia-pro-medium;
    src: url("./assets/font/sofia-pro/sofia-pro-medium.otf");
    font-display: swap;
}

@font-face {
    font-family: sofia-pro-light;
    src: url("./assets/font/sofia-pro/sofia-pro-light.otf");
    font-display: swap;
}

/* */

:root {
    font-size: 18px;
}

body {
    --color-text: #111;
    --color-bg: #f5f5f4;
    --font-size-xlarge: 2rem;
    --font-size-large: 1.5rem;
    --font-size-medium: 1.1rem;
    --font-size-small: 0.9rem;
    --font-size-xsmall: 0.5rem;
    --letter-spacing: -1.45px;
    --color-hover: #fd5a1e;
    --color-menu: #000;

    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: sofia-pro-light;
}

body::-webkit-scrollbar {
    display: none;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

canvas {
    touch-action: none;
  }

.unbutton {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.unbutton:focus {
    outline: none;
}

.oh {
    overflow: hidden;
}

.oh__inner {
    display: inline-block;
    transform-origin: 0% 50%;
    will-change: transform;
}

.link {
    position: relative;
    display: inline-block;
    font-size: var(--font-size-small);
    font-family: sofia-pro-medium;
    color: var(--color-text);
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
}

.link::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in-out;
}

.link:hover {
    color: var(--color-hover);
}

.link:hover::after {
    background-color: var(--color-hover);
    width: 100%;
}

.menu--open,
.about--open,
.project--open {
    pointer-events: auto !important;
    opacity: 1 !important;
    display: block !important;
}

/**
 * Navbar
 */

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    right: 0;
    margin: 1rem 1.5rem 1rem 1.5rem;
}

.navbar-link-container {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.navbar-close {
    pointer-events: none;
}

.menu-link {
    position: relative;
    display: inline-block;
    font-weight: 600;
    color: var(--color-text);
    cursor: pointer;
    text-decoration: none;
    /* font-weight: 600; */
    /* margin-top: 15px; */
    letter-spacing: 0.1em;
    font-family: sofia-pro-medium;
}

.menu-link:hover {
    color: var(--color-hover);
}

.logo {
    height: 1.5em;
    width: auto;
}

/* */

/**
 * Menu
 */

.menu-container {
    /* position: absolute; */
    /* display: flex; */
    /* flex-direction: column; */
    pointer-events: none;
    /* z-index: 100; */
    opacity: 0;
    width: 100%;
    /* height: 100vh; */
    align-content: center;
    justify-content: center;
    counter-reset: menucounter;
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu__item {
    grid-column: 2;
    line-height: 1;
    display: block;
    pointer-events: none;
    /* position: relative; */
}

.menu__item-link {
    text-decoration: none;
    line-height: 1.25;
    margin-top: calc(-0.15 * var(--font-size-xlarge));
    font-size: var(--font-size-xlarge);
    cursor: pointer;
    padding: 0 1.9em;
    color: var(--color-menu);
    letter-spacing: var(--letter-spacing);
    border: none;
    background-color: var(--color-bg);
    font-weight: 600;
    font-family: sofia-pro-medium;
}

.menu__item-link:hover {
    color: var(--color-hover);
}

.menu__item-link::before {
    position: absolute;
    left: 0;
    top: 10%;
    transform: translate(-50%);
    text-align: right;
    counter-increment: menucounter;
    content: counters(menucounter, ".", decimal-leading-zero) ".";
    opacity: 0;
    line-height: 1;
    padding-right: 0.5rem;
    color: var(--color-text);
    transform: scale3d(0, 0, 0);
}

.menu__item-link::after {
    position: absolute;
    left: 90%;
    top: 55%;
    content: "→";
    transform: translate(-50%, -50%);
    font-size: var(--font-size-xlarge);
    color: var(--color-menu-hover);
    opacity: 0;
    transition: font-size 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.menu__item-link:hover::before {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.menu__item-link:hover::after {
    font-size: calc(var(--font-size-xlarge) * 0.9);
    opacity: 1;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    line-height: 1;
    pointer-events: none;
    color: var(--color-text);
}

.close span:hover {
    color: var(--color-hover);
}

.unbutton {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

/* */

/**
 * Project
 */

.project__container {
    /* position: absolute; */
    pointer-events: none;
    opacity: 0;
}

.project__content-container {
    /* border: 1px solid black; */
    display: block;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project__canvas {
    /* border: 1px solid black; */
    /* top: 50%; */
    left: 50%;
    /* top: 20%; */
    transform: translate(-50%);
    position: absolute;
    width: 50%;
    height: 40%;
    display: none;
}

.project__content {
    /* padding: 0 0 0 1.5rem; */
    padding: 0;
    margin: 0;
    width: 100%;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* width: 80%; */
    /* justify-content: center; */
    /* bottom: 10%; */
}

.project__content-title {
    margin: 0;
    font-size: var(--font-size-xlarge);
    letter-spacing: var(--letter-spacing);
    font-family: sofia-pro-medium;
}

.project__content-text {
    margin: 20px 0px;
    line-height: 1;
    max-width: 590px !important;
    font-size: var(--font-size-medium);
    letter-spacing: var(--letter-spacing);
}

.project__content-tools-title {
    font-size: var(--font-size-small);
    font-family: sofia-pro-medium;
    margin: 30px 0 0 0;
}

.project__content-tools {
    padding-left: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    width: 300px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project__content-tools li {
    flex-basis: 30%;
    margin-bottom: 10px;
}

.project__content-tools li div img {
    vertical-align: middle;
    margin-right: 0.45rem;
}

.project__content-tools-name {
    font-size: var(--font-size-xsmall);
}

.project__content-link {
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: var(--color-text);
    cursor: pointer;
    font-size: var(--font-size-small);
    margin-right: 1em;
    font-weight: 600;
    font-family: sofia-pro-medium;
}

.project__content-link::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in-out;
}

.project__content-link:hover {
    color: var(--color-hover);
}

.project__content-link:hover::after {
    background-color: var(--color-hover);
    width: 100%;
}

.project__content-close {
    opacity: 0;
}

.panel {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    display: grid;
    grid-template-columns: repeat(50, 2%);
    grid-template-rows: repeat(50, 2%);
    --grid-row: 1;
    --grid-column: 1;
    transform: rotate3d(0, 0, 1, -35deg);
    opacity: 0.5;
}

.panel__img {
    grid-area: var(--grid-row) / var(--grid-column) / span 12 / span 5;
    will-change: transform;
}

.pos-1 {
    --grid-row: 10;
    --grid-column: 1;
}
.pos-2 {
    --grid-row: 1;
    --grid-column: 29;
}
.pos-3 {
    --grid-row: 17;
    --grid-column: 25;
}
.pos-4 {
    --grid-row: 20;
    --grid-column: 43;
}
.pos-5 {
    --grid-row: 40;
    --grid-column: 14;
}
.pos-6 {
    --grid-row: 35;
    --grid-column: 42;
}
.pos-7 {
    --grid-row: 32;
    --grid-column: 20;
}
.pos-8 {
    --grid-row: 22;
    --grid-column: 2;
}
.pos-9 {
    --grid-row: 9;
    --grid-column: 35;
}
.pos-10 {
    --grid-row: 4;
    --grid-column: 7;
}
.pos-11 {
    --grid-row: 4;
    --grid-column: 7;
}

/* */

/**
 * About
 */

.about-container {
    pointer-events: none;
    opacity: 0;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.about {
    position: absolute;
    top: 30%;
    margin-left: 1.5rem;
}

.about-title {
    font-size: var(--font-size-xlarge);
    letter-spacing: var(--letter-spacing);
    font-family: sofia-pro-medium;
    font-weight: 600;
}

.about-name {
    color: var(--color-hover);
}

.about-text {
    max-width: 82%;
    font-size: var(--font-size-medium);
    letter-spacing: var(--letter-spacing);
}

/* */

/**
 * Footer
 */

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 1.5rem 1.5rem 0;
    font-size: 0.8rem;
    align-self: end;
    justify-content: flex-end;
}

/* */

/**
 * Responsive
 */

@media screen and (min-width: 65em) {
    body {
        --font-size-xlarge: 11vh;
        --font-size-large: 3.5vw;
        --font-size-medium: 2vw;
        --font-size-small: 1.65vw;
        --font-size-xsmall: 1.25vw;
    }

    .project__content-tools {
        width: 400px;
    }

    .project__content-container {
        display: flex;
        flex-direction: row-reverse;
        /* left: 50%; */
        top: 50%;
        width: 100%;
    }

    .project__content {
        /* padding: 0 0 0 1.5rem; */
        padding: 1.5rem 0 2rem 6rem;
        margin: 0;
        width: 100%;
        /* position: absolute; */
        /* top: 50%; */
        /* left: 50%; */
        /* transform: translate(-50%, -50%); */
        /* width: 80%; */
        /* justify-content: center; */
        /* bottom: 10%; */
    }

    .project__canvas {
        /* border: 1px solid black; */
        /* top: 50%; */
        right: 0;
        top: 20%;
        transform: translate(0);
        position: absolute;
        width: 50%;
        height: 59%;
    }
}
