/**
 * Font
 */

@font-face {
    font-family: sf-pro-display-regular;
    src: url("./assets/font/sf-pro-display-regular.otf");
    font-display: swap;
}

@font-face {
    font-family: sf-pro-display-bold;
    src: url("./assets/font/sf-pro-display-bold.otf");
    font-display: swap;
}

/* */

:root {
    font-size: 18px;
}

body {
    --color-text: #111;
    --color-bg: #f5f5f4;
    --font-size-xlarge: 2rem;
    --font-size-large: 1.5rem;
    --font-size-medium: 1.1rem;
    --font-size-small: 0.9rem;
    --font-size-xsmall: 0.5rem;
    --letter-spacing: -1.45px;
    --color-hover: #fd5a1e;
    --color-menu: #000;

    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: sf-pro-display-regular;
}

body::-webkit-scrollbar {
    display: none;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.unbutton {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.unbutton:focus {
    outline: none;
}

.oh {
    overflow: hidden;
}

.oh__inner {
    display: inline-block;
    transform-origin: 0% 50%;
    will-change: transform;
}

.link {
    position: relative;
    display: inline-block;
    font-size: var(--font-size-small);
    color: var(--color-text);
    cursor: pointer;
    text-decoration: none;
    font-family: sf-pro-display-bold;
}

.link::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in-out;
}

.link:hover {
    color: var(--color-hover);
}

.link:hover::after {
    background-color: var(--color-hover);
    width: 100%;
}

/**
 * Navbar
 */

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    right: 0;
    margin: 1rem 1.5rem 1rem 1.5rem;
}

.navbar-link-container {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.navbar-close {
    pointer-events: none;
}

.menu-link {
    position: relative;
    display: inline-block;
    font-size: 1rem;
    color: var(--color-text);
    cursor: pointer;
    text-decoration: none;
    /* font-weight: 600; */
    /* margin-top: 15px; */
}

.menu-link:hover {
    color: var(--color-hover);
}

.logo {
    height: 1.5em;
    width: auto;
}

/* */

/**
 * Menu
 */

.menu-container {
    /* position: absolute; */
    /* display: flex; */
    /* flex-direction: column; */
    pointer-events: none;
    /* z-index: 100; */
    opacity: 0;
    width: 100%;
    /* height: 100vh; */
    align-content: center;
    justify-content: center;
    counter-reset: menucounter;
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu--open, .about--open {
    pointer-events: auto !important;
    opacity: 1 !important;
}

.menu__item {
    grid-column: 2;
    line-height: 1;
    display: block;
    pointer-events: none;
    /* position: relative; */
}

.menu__item-link {
    text-decoration: none;
    line-height: 1.25;
    margin-top: calc(-0.15 * var(--font-size-xlarge));
    font-size: var(--font-size-xlarge);
    cursor: pointer;
    /* position: relative; */
    padding: 0 1.9em;
    color: var(--color-menu);
    letter-spacing: var(--letter-spacing);
    font-family: sf-pro-display-bold;
    border: none;
    background-color: var(--color-bg);
}

.menu__item-link:hover {
    color: var(--color-hover);
}

.menu__item-link::before {
    position: absolute;
    left: 0;
    top: 10%;
    transform: translate(-50%);
    text-align: right;
    counter-increment: menucounter;
    content: counters(menucounter, ".", decimal-leading-zero) ".";
    opacity: 0;
    line-height: 1;
    padding-right: 0.5rem;
    color: var(--color-text);
    transform: scale3d(0, 0, 0);
}

.menu__item-link::after {
    position: absolute;
    left: 90%;
    top: 55%;
    content: "→";
    transform: translate(-50%, -50%);
    font-size: var(--font-size-xlarge);
    color: var(--color-menu-hover);
    opacity: 0;
    transition: font-size 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.menu__item-link:hover::before {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.menu__item-link:hover::after {
    font-size: calc(var(--font-size-xlarge) * 0.9);
    opacity: 1;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    line-height: 1;
    pointer-events: none;
    color: var(--color-text);
}

.close span:hover {
    color: var(--color-hover);
}

.unbutton {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

/* */

/**
 * About
 */

.about-container {
    pointer-events: none;
    opacity: 0;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.about {
  position: absolute;
  top: 30%;
  margin-left: 1.5rem;
}

.about-title {
  font-size: var(--font-size-xlarge);
  letter-spacing: var(--letter-spacing);
  font-family: sf-pro-display-bold;
}

.about-name {
    color: var(--color-hover);
}

.about-text {
    max-width: 82%;
    font-size: var(--font-size-medium);
}

/* */

/**
 * Footer
 */

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 1.5rem 1.5rem 0;
    font-size: 0.8rem;
    align-self: end;
    justify-content: flex-end;
}

/* */

/**
 * Responsive
 */

@media screen and (min-width: 65em) {
    body {
        --font-size-xlarge: 11vh;
        --font-size-large: 3.5vw;
        --font-size-medium: 2vw;
        --font-size-small: 1.65vw;
        --font-size-xsmall: 1.25vw;
    }
}
